@charset "utf-8";

@import url("top.css");
@import url("middle.css");
@import url("bottom.css");
@import url("main01.css");



#wrap{
	width: 1920px;
	height: 2000px;
	margin: 0 auto;
	font: normal 15px/1.5em Arial,sans-serif;
}





























